.admin-container {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.admin-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.admin-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.admin-menu-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 7px;
  margin-right: 10px;
  cursor: pointer;
}

.admin-menu-item-link {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 7px;
  margin-right: 10px;
  cursor: pointer;
}

.admin-doc-menu-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 7px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.application {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 15px;
}

.application-header {
  margin-bottom: 10px;
}

.docs-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.docs-list-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-weight: bold;
}

.doc {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.docs-list-1 {
  width: 20%;
  margin-right: 10px;
  border-right: 1px solid black;
  padding: 10px;
}

.docs-list-2 {
  width: 40%;
  margin-right: 10px;
  border-right: 1px solid black;
  padding: 10px;
}

.docs-list-3 {
  width: 20%;
  margin-right: 10px;
  border-right: 1px solid black;
  padding: 10px;
}

.docs-list-4 {
  width: 20%;
  margin-right: 10px;
  padding: 10px;
}


