.groups-container {
  display: flex;
  flex-direction: column;
}

.current-group {
  margin-bottom: 20px;
}

.groups-list {
  padding-left: 10px;
}

.group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.group-label {
  font-weight: bold;
}

.group-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 5px;
}

.group-conf {
  font-size: 80%;
}

.team-container {
  width: 70%;
  padding-top: 30px;
  margin: 0 auto;
}

.join-create {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-link {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 80%;
}

.join-create-option {
  text-decoration: underline;
  cursor: pointer;
}

.create-team {
  width: 40%;
  margin: 0 auto;
}

.team-textarea {
  width: 195px;
  height: 80px;
  resize: none;
  border: 1px solid rgb(169, 169, 169);
  padding: 5px;
}

.choose-team {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.choose-team-notification {
  font-size: 80%;
  margin-bottom: 10px;
}

.choose-team-form {
  margin-bottom: 5px;
}

.choose-team-input {
  width: 300px;
}

.reset-group {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.reset-group-line {
  margin-bottom: 10px;
}

.conf-change-grup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reset-group-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.request-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.request-fields__field {
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
}

.request-fields__field label {
  padding-bottom: 5px;
}

.request-fields__select {
  width: 210px;
}
