@import 'reset.css';
@import 'header.css';
@import 'sidebar.css';
@import 'content.css';

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  color: black;
  text-decoration: none;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.sideBar {
  width: 20%;
  border-right: 1px solid rgb(129, 129, 129);
}

.content {
  width: 80%;
  border: 1px solid blue;
}

.headerFooter {
  border: 1px solid red;
  width: 100%;
}
