.registration-container {
  padding-top: 20px;
  width: 30%;
  margin: 0 auto;
}

.submit-div {
  display: flex;
  justify-content: center;
}

.message_error {
  color: red;
  font-size: 12;
}

.form-div-error {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-size: 12;
  align-items: center;
  margin-bottom: 10px;
}
