.team-container {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.team-header {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.back-to-account {
  font-size: 14px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 5px;
}

.team-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.team-menu-item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 7px;
  margin-right: 10px;
  cursor: pointer;
}

.list-header {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-header-item {
  width: 33%;
}

.member-list {
  display: flex;
  flex-direction: column;
}

.member {
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.name-container {
  display: flex;
}

.firstname {
  margin-right: 5px;
}

.event-registration-notification {
  margin-bottom: 10px;
}

.event-registration-form {
  display: flex;
  flex-direction: column;
}

.event-registration-number {
  margin-bottom: 10px;
}

.rules-check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.role-position {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.position {
  display: flex;
  justify-content: flex-end;
}

.member-item {
  width: 33%;
}

.edit-positions {
  font-weight: normal;
  font-size: 13px;
  margin-right: 5px;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.position-name {
  width: 50%;
}

.position-contenders {
  width: 50%;
}

.position-contender {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.position-list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(92, 92, 92);
  margin-bottom: 10px;
}

.surname {
  margin-right: 15px;
}
